<?php

return [
    'title' => "Bookmarks",
    'bookmarks' => 'bookmarks.json',
    'auth' => [
        'username' => 'username',
        'password' => 'password',
    ],
    'themes' => [
        'zephyr',
        'yeti',
        'vapor',
        'united',
        'superhero',
        'spacelab',
        'solar',
        'slate',
        'sketchy',
        'simplex',
        'sandstone',
        'quartz',
        'pulse',
        'morph',
        'minty',
        'materia',
        'lux',
        'lumen',
        'litera',
        'journal',
        'flatly',
        'darkly',
        'cyborg',
        'cosmo',
        'cerulean',
    ],
    'theme' => 'flatly',
    'perPage' => 50,
];